@using BakendProject.ViewModels
@model HomeVM;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <!--====== Slider Part Start ======-->

    <section class="slider-area slider-active">
      @foreach (var item in Model.sliders)
     {
         
           <div class="single-slider">
            <div class="slider-image">
                <img src="~/images/@item.ImageUrl" alt="slider">
            </div>
            <div class="slider-content-wrapper">
                <div class="container-fluid custom-container">
                    <div class="slider-content">
                        <h4 data-animation="fadeInDown" data-delay="0.5s" class="sub-title">@item.SubTitle</h4>
                        <h1 data-animation="fadeInLeft" data-delay="0.5s" class="main-title ">@Html.Raw(@item.MainTitle)</h1>
                        <p data-animation="fadeInRightBig" data-delay="0.5s">@item.Desc</p>
                        <a data-animation="zoomIn" data-delay="0.5s" class="main-btn " href="single-product.html">Shop Now</a>
                    </div>
                </div> <!-- container -->
            </div>
        </div> <!-- single slider -->

     }
   
    </section>

    <!--====== Slider Part Ends ======-->

    <!--====== Banner Part Start ======-->

    <div class="banner-area banner-bg">
        <div class="container-fluid custom-container">
            <div class="row">
           @foreach (var item in Model.modalProducts)
          {
                   <div class="col-md-6">
                    <div class="banner-image">
                        <a href="shop-4-column.html"><img src="~/images/@item.imgUrl" alt="banner"></a>
                    </div> <!-- banner image -->
                </div>
          }
         
            </div> <!-- row -->
        </div> <!-- container -->
    </div>

    <!--====== Banner Part Ends ======-->

    <!--====== Category Part Start ======-->

    <section class="category-area category-bg pt-100 pb-100">
        <div class="container-fluid custom-container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center pb-30">
                        <h2 class="title">Featured Categories</h2>
                    </div>
                </div>
            </div> <!-- row -->
            <div class="row category-active">
                @foreach (var item in Model.products)
               {
                   @foreach (var img in item.ProductImages)
                  {
                      <div class="col-lg-2">
                    <div class="single-category text-center">
                        <a target="_blank" href="shop-left-sidebar.html">
                            <img src="~/images/@img.ImageUrl" alt="category">
                            <p>@item.Category.Name</p>
                        </a>
                    </div> <!-- single category -->
                    <div class="single-category text-center">
                        <a target="_blank" href="shop-left-sidebar.html">
                            <img src="~/images/@img.ImageUrl" alt="category">
                            <p>@item.Category.Name</p>
                        </a>
                    </div> <!-- single category -->
                </div>
                  }
                   
               }

                


                
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== Category Part Ends ======-->

    <!--====== Product Part Start ======-->

    <section class="product-area pt-100 pb-100">
        <div class="container-fluid custom-container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product-menu pb-30">
                        <ul class="nav justify-content-center" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="active" id="new-tab" data-toggle="tab" href="#new" role="tab" aria-controls="new" aria-selected="true">New Arrival</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a id="bestseller-tab" data-toggle="tab" href="#bestseller" role="tab" aria-controls="bestseller" aria-selected="false">Bestseller</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a id="featured-tab" data-toggle="tab" href="#featured" role="tab" aria-controls="featured" aria-selected="false">Featured</a>
                            </li>
                        </ul>
                    </div> <!-- product menu -->
                </div>
            </div> <!-- row -->
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="new" role="tabpanel" aria-labelledby="new-tab">
                    <div class="product-items">
                        <div class="row product-active">
                          
                           @foreach (var item in Model.products)
                          {
                              @if(item.NewArrival){
                              
                                    
                                        <div class="col-lg-2">
                                <div class="single-product mt-30">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                               @foreach (var img in item.ProductImages)
                                {
                                    if (img.IsMain)
                                                    {
                                                         <img class="first-image" src="~/images/@img.ImageUrl" alt="product">
                                            <img class="second-image" src="~/images/@img.ImageUrl" alt="product">    
                                                    }
                                           
                                }    </a>
                                        <ul class="product-meta">
                                            <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                            <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                        </ul>
                                        <span class="discount-product">%@item.DiscountPrice !=null ? @item.DiscountPrice : ""</span>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">@item.Desc</a></h4>
                                        <div class="product-price">
                                            <span class="regular-price ">€@item.Price</span>
                                            <span class="price-sale">€@(item.Price - (item.Price * item.DiscountPrice / 100)) </span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->

                                <div class="single-product mt-30">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                       @foreach (var img in item.ProductImages)
                                {         if (img.IsMain)
                                                    {            
                                                        <img class="first-image" src="~/images/@img.ImageUrl" alt="product">

                                                        
                                                    }
                                }    
                                     
                                        </a>
                                        <ul class="product-meta">
                                            <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                            <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">@item.Desc</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">€@item.Price</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->
                            </div>
                               

                              }
                            
                              
                          }
                       
                        </div> <!-- row -->
                    </div> <!-- product items -->
                </div>
                <div class="tab-pane fade" id="bestseller" role="tabpanel" aria-labelledby="bestseller-tab">
                    <div class="product-items">
                        <div class="row product-active">
                            @foreach (var item in Model.products)
                          {
                              @if(item.BestSeller){
                              
                                    
                                        <div class="col-lg-2">
                                <div class="single-product mt-30">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                               @foreach (var img in item.ProductImages)
                                {
                                    if (img.IsMain)
                                                    {
                                                         <img class="first-image" src="~/images/@img.ImageUrl" alt="product">
                                            <img class="second-image" src="~/images/@img.ImageUrl" alt="product">    
                                                    }
                                           
                                }    </a>
                                        <ul class="product-meta">
                                            <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                            <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                        </ul>
                                        <span class="discount-product">%@item.DiscountPrice !=null ? @item.DiscountPrice : ""</span>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">@item.Desc</a></h4>
                                        <div class="product-price">
                                            <span class="regular-price ">€@item.Price</span>
                                            <span class="price-sale">€@(item.Price - (item.Price * item.DiscountPrice / 100)) </span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->

                                <div class="single-product mt-30">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                       @foreach (var img in item.ProductImages)
                                {         if (img.IsMain)
                                                    {            
                                                        <img class="first-image" src="~/images/@img.ImageUrl" alt="product">

                                                        
                                                    }
                                }    
                                     
                                        </a>
                                        <ul class="product-meta">
                                            <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                            <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">@item.Desc</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">€@item.Price</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->
                            </div>
                               

                              }
                            
                              
                          }
                        
                        </div> <!-- row -->
                    </div> <!-- product items -->
                </div>
                <div class="tab-pane fade" id="featured" role="tabpanel" aria-labelledby="featured-tab">
                    <div class="product-items">
                        <div class="row product-active">
                               @foreach (var item in Model.products)
                          {
                              @if(item.IsFeatured){
                              
                                    
                                        <div class="col-lg-2">
                                <div class="single-product mt-30">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                               @foreach (var img in item.ProductImages)
                                {
                                    if (img.IsMain)
                                                    {
                                                         <img class="first-image" src="~/images/@img.ImageUrl" alt="product">
                                            <img class="second-image" src="~/images/@img.ImageUrl" alt="product">    
                                                    }
                                           
                                }    </a>
                                        <ul class="product-meta">
                                            <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                            <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                        </ul>
                                        <span class="discount-product">%@item.DiscountPrice !=null ? @item.DiscountPrice : ""</span>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">@item.Desc</a></h4>
                                        <div class="product-price">
                                            <span class="regular-price ">€@item.Price</span>
                                            <span class="price-sale">€@(item.Price - (item.Price * item.DiscountPrice / 100)) </span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->

                                <div class="single-product mt-30">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                       @foreach (var img in item.ProductImages)
                                {         if (img.IsMain)
                                                    {            
                                                        <img class="first-image" src="~/images/@img.ImageUrl" alt="product">

                                                        
                                                    }
                                }    
                                     
                                        </a>
                                        <ul class="product-meta">
                                            <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                            <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">@item.Desc</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">€@item.Price</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->
                            </div>
                               

                              }
                            
                              
                          }
                        </div> <!-- row -->
                    </div> <!-- product items -->
                </div>
            </div> <!-- tab content -->
        </div> <!-- container -->
    </section>

    <!--====== Product Part Ends ======-->

    <!--====== Special Products Part Start ======-->

    <section class="special-products-area pt-70 pb-120">
        <div class="container-fluid custom-container">
            <div class="special-products-active">
                <div class="special-products-wrapper">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="special-products-gallery d-flex mt-50">
                                <div class="products-gallery-thumb">
                                    <ul class="products-thumb">
                                 @foreach (var item in Model.products)
                                 { 
                                     if (item.SpecialProduct)
                                        {
                                               @foreach (var img in item.ProductImages)
                                     {
                                  <li><img src="~/images/@img.ImageUrl" alt="Products Thumb"></li>

                                     }
                                        }
                                  

                                 }
                                    </ul>
                                </div> <!-- products gallery thumb -->
                                <div class="products-gallery-image">
                                   @foreach (var item in Model.products)
                                  {
                                      if (item.SpecialProduct)
                                    {
                                       @foreach (var img in item.ProductImages)
                                      {
                                               <div class="single-products-image">
                                        <a href="#">
                                     
                                            <img src="~/images/@img.ImageUrl" alt="products">
                                        </a>
                                    </div>
                                      } 
                                    }
                                      
                                  }

                                </div> <!-- products gallery image -->
                            </div> <!-- special products gallery -->
                        </div>
                        <div class="col-lg-6">
                            <div class="special-products-countdown mt-50">
                                <div class="products-countdown-wrapper">
                                    <h2 class="special-title">Deal of the week</h2>
                                    <h3 class="products-title"><a href="#">Originals Kaval Wind...</a></h3>
                                    <div class="products-rating">
                                        <ul>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                    </div>

                                    <div data-countdown="2021/12/19"></div>

                                    <div class="product-price-and-cart d-sm-flex align-items-center">
                                        <div class="product-price">
                                            <span class="price-sale">€21.03</span>
                                            <span class="regular-price">€23.90</span>
                                        </div>
                                        <div class="product-cart">
                                            <a class="main-btn main-btn-2" href="#">Add to cart</a>
                                        </div>
                                    </div>
                                </div> <!-- special products countdown -->
                            </div> <!-- special products countdown -->
                        </div>
                    </div> <!-- row -->
                </div> <!-- special products wrapper -->
                <div class="special-products-wrapper">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="special-products-gallery d-flex mt-50">
                                <div class="products-gallery-thumb">
                                    <ul class="products-thumb">
                                        <li><img src="~/images/special-products/special-products-5.jpg" alt="Products Thumb"></li>
                                        <li><img src="~/images/special-products/special-products-6.jpg" alt="Products Thumb"></li>
                                        <li><img src="~/images/special-products/special-products-8.jpg" alt="Products Thumb"></li>
                                        <li><img src="~/images/special-products/special-products-7.jpg" alt="Products Thumb"></li>
                                        <li><img src="~/images/special-products/special-products-4.jpg" alt="Products Thumb"></li>
                                    </ul>
                                </div> <!-- products gallery thumb -->
                                <div class="products-gallery-image">
                                    <div class="single-products-image">
                                        <a href="#">
                                            <img src="~/images/special-products/special-products-5.jpg" alt="products">
                                        </a>
                                    </div>
                                    <div class="single-products-image">
                                        <a href="#">
                                            <img src="~/images/special-products/special-products-6.jpg" alt="products">
                                        </a>
                                    </div>
                                    <div class="single-products-image">
                                        <a href="#">
                                            <img src="~/images/special-products/special-products-8.jpg" alt="products">
                                        </a>
                                    </div>
                                    <div class="single-products-image">
                                        <a href="#">
                                            <img src="~/images/special-products/special-products-7.jpg" alt="products">
                                        </a>
                                    </div>
                                    <div class="single-products-image">
                                        <a href="#">
                                            <img src="~/images/special-products/special-products-4.jpg" alt="products">
                                        </a>
                                    </div>
                                </div> <!-- products gallery image -->
                            </div> <!-- special products gallery -->
                        </div>
                        <div class="col-lg-6">
                            <div class="special-products-countdown mt-50">
                                <div class="products-countdown-wrapper">
                                    <h2 class="special-title">Deal of the week</h2>
                                    <h3 class="products-title"><a href="#">Originals Kaval Wind...</a></h3>
                                    <div class="products-rating">
                                        <ul>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                    </div>

                                    <div data-countdown="2021/12/19"></div>

                                    <div class="product-price-and-cart d-sm-flex align-items-center">
                                        <div class="product-price">
                                            <span class="price-sale">€21.03</span>
                                            <span class="regular-price">€23.90</span>
                                        </div>
                                        <div class="product-cart">
                                            <a class="main-btn main-btn-2" href="#">Add to cart</a>
                                        </div>
                                    </div>
                                </div> <!-- special products countdown -->
                            </div> <!-- special products countdown -->
                        </div>
                    </div> <!-- row -->
                </div> <!-- special products wrapper -->
            </div> <!-- special products active -->
        </div> <!-- container -->
    </section>

    <!--====== Special Products Part Ends ======-->

    <!--====== Product Part Start ======-->

    <section class="product-area pt-100">
        <div class="container-fluid custom-container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product-menu pb-30">
                        <ul class="nav justify-content-center" role="tablist">

                      
                           @foreach (var item in Model.categories)
                        {
                            if (item.SpeacialCategory)
                            {
                                  <li class="nav-item" role="presentation">
                                <a class=""  id="@item.Name" data-toggle="tab" href="#@item.Name" role="tab" aria-controls="@item.Name" aria-selected="true">@item.Name</a>
                                </li>
                            }
                          }
                        
                         
                           
                        </ul>
                    </div> <!-- product menu -->
                </div>
            </div> <!-- row -->
            <div class="tab-content">
                <div class="tab-pane fade show active" id="@Model.products.Find(p=>p.CategoryId == p.Category.Id && p.Category.SpeacialCategory).Category.Name" role="tabpanel" aria-labelledby="@Model.products.Find(p=>p.CategoryId == p.Category.Id && p.Category.SpeacialCategory).Category.Name">
                    <div class="product-items">
                        <div class="row product-active-2">
                        @foreach (var item in Model.products)
                       {
                              @foreach (var img in item.ProductImages)
                             {
                                if(item.CategoryId == item.Category.Id && item.Category.SpeacialCategory && img.IsMain)
                                {
                                    
                                     <div class="col-lg-4">
                                <div class="single-product product-list d-sm-flex flex-wrap align-items-center mt-30">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            <img class="first-image" src="~/images/@img.ImageUrl" alt="product">
                                        </a>
                                        <span class="discount-product">@item.DiscountPrice%</span>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">New Balance Arishi Sport v1Couture Juicy eu</a></h4>
                                        <div class="product-price">
                                            <span class="regular-price">€@item.Price</span>
                                            <span class="price-sale">€@(item.Price - (item.Price * item.DiscountPrice / 100))</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->

                                <div class="single-product product-list d-sm-flex flex-wrap align-items-center mt-30">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            <img class="first-image" src="~/images/@img.ImageUrl" alt="product">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">@item.Desc</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">€@item.Price</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->
                            </div>
                                }

                             }
                           
                       }
                       
                        </div> <!-- row -->
                    </div> <!-- product items -->
                </div>
                <div class="tab-pane fade" id="smartphone" role="tabpanel" aria-labelledby="smartphone-tab">
                    <div class="product-items">
                        <div class="row product-active-2">
                            <div class="col-lg-4">
                                <div class="single-product product-list d-sm-flex flex-wrap align-items-center mt-30">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            <img class="first-image" src="~/images/product/product-9.jpg" alt="product">
                                        </a>
                                        <span class="discount-product">-12%</span>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">New Balance Arishi Sport v1Couture Juicy eu</a></h4>
                                        <div class="product-price">
                                            <span class="regular-price">€29.90</span>
                                            <span class="price-sale">€26.90</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->

                                <div class="single-product product-list d-sm-flex flex-wrap align-items-center mt-30">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            <img class="first-image" src="~/images/product/product-12.jpg" alt="product">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">Cale 6 eu accumsan massa facilisis Madden by Steve</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">€29.90</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->
                            </div>
                            <div class="col-lg-4">
                                <div class="single-product product-list d-sm-flex flex-wrap align-items-center mt-30">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            <img class="first-image" src="~/images/product/product-1.jpg" alt="product">
                                            <img class="second-image" src="~/images/product/product-2.jpg" alt="product">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">New Balance Arishi Sport v1Couture Juicy eu</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">€11.90</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->

                                <div class="single-product product-list d-sm-flex flex-wrap align-items-center mt-30">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            <img class="first-image" src="~/images/product/product-5.jpg" alt="product">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">Cale 6 eu accumsan massa facilisis Madden by Steve</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">€29.90</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->
                            </div>
                            <div class="col-lg-4">
                                <div class="single-product product-list d-flex flex-wrap align-items-center mt-30">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            <img class="first-image" src="~/images/product/product-6.jpg" alt="product">
                                            <img class="second-image" src="~/images/product/product-7.jpg" alt="product">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">New Balance Arishi Sport v1Couture Juicy eu</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">€11.90</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->

                                <div class="single-product product-list d-flex flex-wrap align-items-center mt-30">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            <img class="first-image" src="~/images/product/product-2.jpg" alt="product">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">Cale 6 eu accumsan massa facilisis Madden by Steve</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">€9.90</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->
                            </div>
                            <div class="col-lg-4">
                                <div class="single-product product-list d-sm-flex flex-wrap align-items-center mt-30">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            <img class="first-image" src="~/images/product/product-16.jpg" alt="product">
                                            <img class="second-image" src="~/images/product/product-6.jpg" alt="product">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">New Balance Arishi Sport v1Couture Juicy eu</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">€29.90</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->

                                <div class="single-product product-list d-sm-flex flex-wrap align-items-center mt-30">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            <img class="first-image" src="~/images/product/product-4.jpg" alt="product">
                                            <img class="second-image" src="~/images/product/product-9.jpg" alt="product">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">Cale 6 eu accumsan massa facilisis Madden by Steve</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">€29.90</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->
                            </div>
                            <div class="col-lg-4">
                                <div class="single-product product-list d-sm-flex flex-wrap align-items-center mt-30">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            <img class="first-image" src="~/images/product/product-11.jpg" alt="product">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">New Balance Arishi Sport v1Couture Juicy eu</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">€9.90</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->

                                <div class="single-product product-list d-sm-flex flex-wrap align-items-center mt-30">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            <img class="first-image" src="~/images/product/product-14.jpg" alt="product">
                                            <img class="second-image" src="~/images/product/product-15.jpg" alt="product">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">Cale 6 eu accumsan massa facilisis Madden by Steve</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">€18.90</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->
                            </div>
                        </div> <!-- row -->
                    </div> <!-- product items -->
                </div>
                <div class="tab-pane fade" id="game" role="tabpanel" aria-labelledby="game-tab">
                    <div class="product-items">
                        <div class="row product-active-2">
                            <div class="col-lg-4">
                                <div class="single-product product-list d-sm-flex flex-wrap align-items-center mt-30">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            <img class="first-image" src="~/images/product/product-9.jpg" alt="product">
                                        </a>
                                        <span class="discount-product">-12%</span>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">New Balance Arishi Sport v1Couture Juicy eu</a></h4>
                                        <div class="product-price">
                                            <span class="regular-price">€29.90</span>
                                            <span class="price-sale">€26.90</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->

                                <div class="single-product product-list d-sm-flex flex-wrap align-items-center mt-30">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            <img class="first-image" src="~/images/product/product-12.jpg" alt="product">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">Cale 6 eu accumsan massa facilisis Madden by Steve</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">€29.90</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->
                            </div>
                            <div class="col-lg-4">
                                <div class="single-product product-list d-sm-flex flex-wrap align-items-center mt-30">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            <img class="first-image" src="~/images/product/product-1.jpg" alt="product">
                                            <img class="second-image" src="~/images/product/product-2.jpg" alt="product">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">New Balance Arishi Sport v1Couture Juicy eu</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">€11.90</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->

                                <div class="single-product product-list d-sm-flex flex-wrap align-items-center mt-30">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            <img class="first-image" src="~/images/product/product-5.jpg" alt="product">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">Cale 6 eu accumsan massa facilisis Madden by Steve</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">€29.90</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->
                            </div>
                            <div class="col-lg-4">
                                <div class="single-product product-list d-flex flex-wrap align-items-center mt-30">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            <img class="first-image" src="~/images/product/product-6.jpg" alt="product">
                                            <img class="second-image" src="~/images/product/product-7.jpg" alt="product">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">New Balance Arishi Sport v1Couture Juicy eu</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">€11.90</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->

                                <div class="single-product product-list d-flex flex-wrap align-items-center mt-30">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            <img class="first-image" src="~/images/product/product-2.jpg" alt="product">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">Cale 6 eu accumsan massa facilisis Madden by Steve</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">€9.90</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->
                            </div>
                            <div class="col-lg-4">
                                <div class="single-product product-list d-sm-flex flex-wrap align-items-center mt-30">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            <img class="first-image" src="~/images/product/product-16.jpg" alt="product">
                                            <img class="second-image" src="~/images/product/product-6.jpg" alt="product">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">New Balance Arishi Sport v1Couture Juicy eu</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">€29.90</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->

                                <div class="single-product product-list d-sm-flex flex-wrap align-items-center mt-30">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            <img class="first-image" src="~/images/product/product-4.jpg" alt="product">
                                            <img class="second-image" src="~/images/product/product-9.jpg" alt="product">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">Cale 6 eu accumsan massa facilisis Madden by Steve</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">€29.90</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->
                            </div>
                            <div class="col-lg-4">
                                <div class="single-product product-list d-sm-flex flex-wrap align-items-center mt-30">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            <img class="first-image" src="~/images/product/product-11.jpg" alt="product">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">New Balance Arishi Sport v1Couture Juicy eu</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">€9.90</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->

                                <div class="single-product product-list d-sm-flex flex-wrap align-items-center mt-30">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            <img class="first-image" src="~/images/product/product-14.jpg" alt="product">
                                            <img class="second-image" src="~/images/product/product-15.jpg" alt="product">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                            <li class="rating-on"><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">Cale 6 eu accumsan massa facilisis Madden by Steve</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">€18.90</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->
                            </div>
                        </div> <!-- row -->
                    </div> <!-- product items -->
                </div>
            </div> <!-- tab content -->

        </div> <!-- container -->

    </section>

    <!--====== Product Part Ends ======-->

   

    <!--====== Features Banner Part Start ======-->

    <section class="features-banner-area pt-80 pb-100">
        <div class="container-fluid custom-container">
            <div class="features-banner-wrapper d-flex flex-wrap">
                <div class="single-features-banner d-flex">
                    <div class="banner-icon">
                        <img src="~/images/banner-icon/icon1.png" alt="Icon">
                    </div>
                    <div class="banner-content media-body">
                        <h3 class="banner-title">Free Shipping</h3>
                        <p>Free shipping on all US order</p>
                    </div>
                </div> <!-- single features banner -->
                <div class="single-features-banner d-flex">
                    <div class="banner-icon">
                        <img src="~/images/banner-icon/icon2.png" alt="Icon">
                    </div>
                    <div class="banner-content media-body">
                        <h3 class="banner-title">Support 24/7</h3>
                        <p>Contact us 24 hours a day</p>
                    </div>
                </div> <!-- single features banner -->
                <div class="single-features-banner d-flex">
                    <div class="banner-icon">
                        <img src="~/images/banner-icon/icon3.png" alt="Icon">
                    </div>
                    <div class="banner-content media-body">
                        <h3 class="banner-title">100% Money Back</h3>
                        <p>You have 30 days to Return</p>
                    </div>
                </div> <!-- single features banner -->
                <div class="single-features-banner d-flex">
                    <div class="banner-icon">
                        <img src="~/images/banner-icon/icon4.png" alt="Icon">
                    </div>
                    <div class="banner-content media-body">
                        <h3 class="banner-title">90 Days Return</h3>
                        <p>If goods have problems</p>
                    </div>
                </div> <!-- single features banner -->
                <div class="single-features-banner d-flex">
                    <div class="banner-icon">
                        <img src="~/images/banner-icon/icon5.png" alt="Icon">
                    </div>
                    <div class="banner-content media-body">
                        <h3 class="banner-title">Payment Secure</h3>
                        <p>We ensure secure payment</p>
                    </div>
                </div> <!-- single features banner -->
            </div> <!-- features banner wrapper -->
        </div> <!-- container -->
    </section>

    <!--====== Features Banner Part Ends ======-->

    <!--====== Newsletter Part Ends ======-->

